<div class="advantages">
    <section class="advantages_box container">
        <article class="advantages_card">
            <img src="images/different_image/auto.svg" alt="svg" class="adv_img" style="display: block !important; background-color: transparent !important"/>
            <h3 class="advantages_head">Быстрая доставка</h3>
            <p class="advantages_text">
                Доставка по всему миру. Создаём лучшие условия для взаимодействия.
            </p>
        </article>
        <article class="advantages_card">
            <img src="images/different_image/percent.svg" alt="svg" class="adv_img" style="display: block !important; background-color: transparent !important"/>
            <h3 class="advantages_head">Распродажи и скидки</h3>
            <p class="advantages_text">
                Скидки, распродажи и ликвидации товаров от популярных брендов. Покупай по выгодным скидкам до 30%.
            </p>
        </article>
        <article class="advantages_card">
            <img src="images/different_image/crown.svg" alt="svg" class="adv_img" style="display: block !important; background-color: transparent !important"/>
            <h3 class="advantages_head">Гарантия качества</h3>
            <p class="advantages_text">
                Гарантия качества распространяется на все товары и на все составляющие их части.
            </p>
        </article>
    </section>
</div>