<div class="pagination_box">
    <nav class="pagination">
        <a class="pagination_link" href="#"
        ><i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <a class="pagination_link" href="#">1</a>
        <a class="pagination_link active" href="#">2</a>
        <a class="pagination_link" href="#">3</a>
        <a class="pagination_link" href="#">4</a>
        <a class="pagination_link" href="#">5</a>
        <a class="pagination_link" href="#">6</a>
        <a class="pagination_link" href="#"
        ><i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </nav>
</div>